In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [9]:
df = sns.load_dataset("Iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
X = df.iloc[:,:4].values
y = df['species'].values
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [14]:
y_pred = classifier.predict(X_test) 
y_pred

array(['versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'setosa', 'virginica', 'virginica', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa'],
      dtype='<U10')

In [15]:
from sklearn.metrics import accuracy_score , confusion_matrix
accuracy_score(y_test , y_pred)

0.9333333333333333

In [16]:
confusion_matrix(y_test , y_pred)

array([[10,  0,  0],
       [ 0,  9,  1],
       [ 0,  1,  9]], dtype=int64)

In [17]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0   versicolor       versicolor
1   versicolor       versicolor
2    virginica        virginica
3    virginica       versicolor
4   versicolor       versicolor
5   versicolor       versicolor
6    virginica        virginica
7    virginica        virginica
8   versicolor       versicolor
9   versicolor        virginica
10  versicolor       versicolor
11  versicolor       versicolor
12   virginica        virginica
13   virginica        virginica
14   virginica        virginica
15      setosa           setosa
16   virginica        virginica
17   virginica        virginica
18      setosa           setosa
19  versicolor       versicolor
20  versicolor       versicolor
21   virginica        virginica
22      setosa           setosa
23      setosa           setosa
24      setosa           setosa
25      setosa           setosa
26      setosa           setosa
27      setosa           setosa
28      setosa           setosa
29      setosa           setosa

In [ ]:
tp,fp,fn,tp=confusion_matrix(y_test, y_pred)

In [21]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)

print('Confusion matrix\n\n', cm)

print('\nTrue Positives(TP) = ', cm[0,0])

print('\nTrue Negatives(TN) = ', cm[1,1])

print('\nFalse Positives(FP) = ', cm[0,1])

print('\nFalse Negatives(FN) = ', cm[1,0])

Confusion matrix

 [[10  0  0]
 [ 0  9  1]
 [ 0  1  9]]

True Positives(TP) =  10

True Negatives(TN) =  9

False Positives(FP) =  0

False Negatives(FN) =  0